/* Importing fonts from Google */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

body{
    background: #E0EDFE !important;
}

.loc{
    background-color: #0E4085;
    color: white ;
    padding: 20px; 
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 400px;
}

.container_menu {
    padding: 0;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    justify-content: center;
}

h2{
    text-align: center;

}
.border{
    border-radius: 30px;
    background-color: white;
    margin-left: 30px;
    margin-right: 30px;
}


.count_total {
    margin-top: 45px;
    text-align: center;
  }
  
.count_total h2 {
    text-transform: uppercase;
  }
  
.count_total h4 {
    font-size: 22px;
    font-weight: 600;
  }

.count {
    display: flex;
    justify-content: center;
}
  
.count_box .count-detail {
    padding: 2px 25px 35px 25px;
  }
  
.count_img-container {
    width: 120px;
    background-color: #0E4085;
    height: 120px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 20px solid #d7daf4;
    margin: 0 auto 20px auto;
  }
  
.count_box .count_img-box {
    width: 75px;
  }
  
.count .count-detail p {
    margin-top: 15px;
  }
  
.count img {
    width: 100%;
}


.fitur {
    margin-top: 45px;
    text-align: center;
  }
  
.fitur h2 {
    text-transform: uppercase;
  }
  
.fitur h4 {
    font-size: 22px;
    font-weight: 600;
  }


.menu {
    display: flex;
    justify-content: center;
}
  
.menu_box .menu-detail {
    padding: 2px 25px 35px 25px;
  }
  
.menu_box .menu_img-box {
    width: 150px;
  }
  
.menu .menu-detail p {
    margin-top: 15px;
  }
  
.menu img {
    width: 100%;
}

.menu_img-container {
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.container_footer{
  background: black;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  color: white;
}
@media (max-width: 992px) {
    .count_box-container {
        flex-wrap: wrap;
    }
}
